<h1>Today</h1>

<p> "The date is <%= Date.today.strftime("%A, %B %d, %Y") %>
</p>

<!--Date.today.strftime("%A, %B %d, %Y") <=> this is in the specs

A => full weekday 
B => full month
d => day of the month
y => year

--> 

# DateTime.strptime('sat3feb014pm+7', '%a%d%b%y%H%p%z')